.accountSetting{
  display: flex;
  justify-content: flex-start;
  .accountSetting-title{

  }
  .info-name{
    display: flex;
    justify-content: space-between;
    width: 840px;
    .accountSetting-name-field{
      width: 390px;
    }
  }

  .accountSetting-text-field{
    width: 100%;
    min-width: 800px;
  }
}